@import url(../reindeer/styles.css);

.v-table-cell-wrapper
{
	white-space: normal;
}

.v-table-row-color-green
{
	color: green;
}

.v-table-row-background-pink
{
	background-color: #ECC8EC;
}

.v-table-cell-content-background-red
{
	background-color: red;
}

.v-table-cell-content-font-bold
{
	font-weight: bold;
}

.v-gantt-diagram-task
{
	height: 60%;
	color: green;
	opacity: 1;
}

.v-gantt-diagram-task-complete
{
	height: 40%;
	color: black;
	opacity: 0.5;
}
