.v-gridlayout-info .v-horizontallayout-redbackground {
    text-align: left;
    background: red;
}
.v-gridlayout-cell > div > div > div {
    background: white;
    padding-top: 2px;
    padding-left: 2px;
}
.v-gridlayout-cell .v-gridlayout-margin {
    background: black;
    padding: 2px;
}
.v-gridlayout-info .v-label {
    text-align: center;
}
.v-gridlayout-info .v-label-undef-w {
    text-align: center;
}
.v-gridlayout-info .v-label-headblue {
    text-align: left;
    background-color: #3366CC;
}
.v-gridlayout-info .v-label-row1blue {
    text-align: center;
    background-color: #D0D0D0 ;
}
.v-gridlayout-info .v-label-row2blue {
    text-align: center;
    background-color: #E8E8E8  ;
}
.v-gridlayout-info .v-button-row2blue{
    text-align: center;
    background-color: #E8E8E8  ;
    height: 18px;
}
.v-gridlayout-info .v-button-row1blue{
    text-align: center;
    background-color: #D0D0D0 ;
    height: 18px;
}
.v-gridlayout-info .v-checkbox-row1blue {
    text-align: center;
    background-color: #D0D0D0 ;
}
.v-gridlayout-info .v-checkbox-row2blue {
    text-align: center;
    background-color: #E8E8E8  ;
}
.v-gridlayout-info .v-link-row1blue {
    text-align: center;
    background-color: #D0D0D0 ;
    height: 18px;
}
.v-gridlayout-info .v-link-row2blue {
    text-align: center;
    background-color: #E8E8E8  ;
    height: 18px;
}
.v-gridlayout-info .v-label-green {
    text-align: left;
    background-color: #00FF66  ;
}
.v-gridlayout-info .v-label-red {
    text-align: left;
    background-color: #FF3333  ;
}
.v-gridlayout-info  .v-checkbox-green{
    text-align: left;
    background-color: #00FF66  ;
}
.v-gridlayout-info  .v-checkbox-red{
    text-align: left;
    background-color: #FF3333  ;
}

.v-gridlayout-info .v-label-black {
    text-align: center;
    background-color: black;
}
.v-gridlayout-info .v-label-silver {
    text-align: center;
    background-color: silver;
}

.v-gridlayout-info .v-button {
    text-align: center;
}
.v-gridlayout-info .v-button-redlink .v-button-caption {
    color: red;
    text-decoration: none;
}
.v-gridlayout-info .v-checkbox {
    text-align: center;
}
/* 
.v-gridlayout-info {
    background: blue; Creates a "border" around the grid. 
    margin:     10px; 
}

/* Add padding through which the background color shows. 
.v-gridlayout-info .v-gridlayout-margin {
    padding: 2px;     
}
*/
/* Add cell borders and make the cell backgrounds white.
 * Warning: This depends heavily on the HTML structure. 
.v-gridlayout-info > div > div > div {
    padding:    2px;  
    background: white;  
}
*/
.v-gridlayout-fakeheader {
    background: #e0e0e0;
    border-color: #C2C3C4;
    border-style: solid;
    border-width: 1px;
}

.v-gridlayout-fakeheader .v-label {
    padding-left:  6px;
    padding-right: 6px;
    text-align: center;
}

.v-gridlayout-fakeheader > div > div > div {
    border-color: #C2C3C4;
    border-width: 1px;
    border-style: none solid none none;
    border-collapse: separate;
    border-spacing: 0;
    text-shadow: 0 1px 0 #F3F5F8;
}
