@import url(../reindeer/styles.css);
@import url(../vtmtheme/grid.css);
@import url(../vtmtheme/calendar.css);
@import url(../vtmtheme/table.css);
@import url(../vtmtheme/tree.css);
@import url(../vtmtheme/button.css);
@import url(../vtmtheme/vaadin-gantt.css);
/***************************************************** For the PageTemplate classes of Navigator7 addon. 
  COPY/PASTE THIS in your styles.css */

/****** I've been forced to require you to copy/paste stuff from this CSS file, because Vaadin 6.3 API prevents us to provide a value for the style attbitute of tags.
  Vote for this to change the situation :    http://vaadin.uservoice.com/forums/20474-general/suggestions/699562
  */ 
  
.PageTemplate-mainLayout {
    width:100%
}

/* Full window width */
.FixedPageTemplate-bandOuterLayout {
    width:100%
}

/* Fixed width inside bandOuterLayout */
.FixedPageTemplate-bandInnerLayout {
    margin: 0 auto;  /* Centered inside outer div */
}

/* Layout containing your pages (probably between a header and a footer) */
.FixedPageTemplate-layoutPage {
    padding-top:15px;   /* Not too close from the header */
	padding-bottom:20px; /* Not too close from the footer */
}

/* END OF COPY/PASTE */

.v-horizontallayout-redbackground {
	overflow: hidden;
	background-color: gray;
}
div.v-helprouter-bubble .popupContent .helpText {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eee,  #ddd); /* for firefox */
    border: 0px solid #292929;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 8px 8px 15px #999;
    -webkit-box-shadow: 8px 8px 15px #999;
    box-shadow: 8px 8px 15px #999;
    padding: 2em;
    text-shadow: #FFF 0px 1px 0px;
    font-size: 11pt;
}
.v-menubar-menuitem-file2 {
	color: blue;
}

.v-menubar-menuitem-file {
	color: gray;
}
.v-menubar-menuitem-close-all {
	color: blue;
}


.v-accordion-item-caption-directory {
	overflow: hidden;
	white-space: nowrap;
	background: blue;
	border-bottom: 1px solid #ddd;
}
/**
styles for field.setEnabled(false)
makes caption visible

.v-disabled {
	opacity: 1;
}
*/
/**
styles for field
*/

.v-caption-controldate {
    display: inline-block;
    width: 10em;
    padding-right: 3px;
    color:red;
    font-weight:bold;
}

.v-caption-simple {
    width: 120px;
    white-space: normal;
}
.v-caption-green {
    width: 120px;
    white-space: normal;
    color:green;
}
.v-caption-blue {
    width: 120px;
    white-space: normal;
    color: blue;
}
.v-caption-indigo{
    width: 120px;
    white-space: normal;
    color: #4B0082;
}
.v-icon span {
	width: 120px;
    white-space: normal;
}

.v-filterselect input{
	width: 250px;
	class=v-filterselect-input;
	tabindex=0;
	type=text;
}



.v-theme-vtmtheme {margin: 0px; 	padding: 0px; cellpadding: 0px; cellspacing : 0px;}
.v-caption-vtmtheme {margin: 0px; 	padding: 0px; cellpadding: 0px; cellspacing : 0px;}


.cw-FlexTable td {
  border: 0px;
  padding: 0px;
  height: 50px;
  vertical-align: top;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}

.gwt-Label {
	/**color: #DF0101;*/
	font: normal 13px tahoma, arial, helvetica, sans-serif;
	border: 1px solid black;
	padding: 0px;
}

.gwt-HorizontalSplitPanel {
}

.gwt-HorizontalSplitPanel .hsplitter {
  cursor: move;
  border: 0px; 
  background: #91c0ef url(images/vborder.png) repeat-y;
}
/**Gant section*/

.v-panel-gant-info-panel {background: #91c0ef;}
.v-panel-caption-gant-info-panel {background: #91c0ef; font: normal 13px tahoma, arial, helvetica, sans-serif; padding: 2px;}
.v-panel-nocaption-gant-info-panel {background: #91c0ef;}
.v-panel-content-gant-info-panel {background: #91c0ef; font: normal 13px tahoma, arial, helvetica, sans-serif;}
.v-panel-deco-gant-info-panel {background: #91c0ef;}

.v-panel-deco-gant-info-panel v-label{background: #91c0ef; font: normal 13px tahoma, arial, helvetica, sans-serif;}

.v-table-row-saturday {
	background-color: #FFDFEC;
}

.v-table-row-sunday {
	background-color: #FFDFEC;
}

.v-table-row-holiday {
	background-color: #FFDFEC;
}
/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
    white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
    padding-right: 10px;
}
.verticaltext {
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
}
