.v-table .v-textfield {
    border: 1;
    background: transparent;
    height: 12px;
}
.v-table-cell-wrapper {
    white-space: normal;
}
.v-table-cell-content-CIFB{
    white-space: normal;
    text-align: center;
}
.v-table-CIFB .v-table-cell-content {
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}
.v-table-header-cell {
    text-align: center;
}
.v-table-caption-container {
	heigth: 16px;
	padding-top: 4px;
	padding-right: 4px;
	text-align: center;
}
.v-table-cell-content-newmessage{
     font-weight: bold;
}
.v-caption-CIFB .v-captiontext {
    color: black;
    font-size: small;
    text-align: center;
    margin-bottom: 5px;
}
.v-table-cell-content-money {
    background: #E9967A;
}
.v-table-cell-content-red {
    background-color: red;
}
.v-table-cell-content-lightred {
    background-color: #FFB6C1;
}
.v-table-cell-content-lightcyan {
    background-color: #E0FFFF;
}
.v-table-cell-content-pink {
    background-color: #FFDFEC;
}
.v-table-cell-content-pinkProject {
    background-color: #FFDFEC;
   	font-weight: bold;
}
.v-table-cell-content-yellow {
    background-color: yellow;
}
.v-table-cell-content-lightyellow {
    background-color: #F0E68C;
}
.v-table-cell-content-green {
    background-color: green;
}
.v-table-cell-content-lightgreen {
    background-color: #90EE90;
}

.v-table-cell-content-blue{
	background-color: #6495ED;
}
.v-table-cell-content-child {
    background-color: #90EE90;
}
.v-table-cell-content-headapproved {
     background-color: #D0D0D0 ;
}
.v-table-row-saturday {
	background-color: #FFDFEC;
}

.v-table-row-sunday {
	background-color: #E789AF;
}

.v-table-row-holiday {
	background-color: #FFDFEC;
}
.v-table-row-choose {
	background-color: #D0D0D0 ;
}
.v-table-checkboxed .v-table-cell-content-unchecked div {
    background: url("img/checkbox-unchecked.png") no-repeat left;
    padding-left: 10px;
}

.v-table-checkboxed .v-table-cell-content-checked div {
    background: url("img/checkbox-checked.png") no-repeat left;
    padding-left: 10px; 
}


