
.v-tree-node-caption-head .v-icon{
     background: green; 
}
.v-tree-node-caption-zamhead .v-icon{
     background: olive; 
}
.v-tree-node-caption-workgroup{
}
.v-tree-node-caption-department{
     background: silver; 
}
.v-tree-node-caption-part{
     background: white; 
}
.v-tree-node-caption-newmessage{
     font: bold; 
     font-weight: bold;
}
.v-tree-node-selected span {
    background: #4A76BD;
    color: #FFF;
}
div.v-tree-node-leaf {
    background: transparent;
}
 .v-tree-node-caption div span {
    width: 200px;
    white-space: normal;
    /* border-style: groove; */
    border-width: 1px;
    border-color: gray;
}
