.v-gantt-diagram-task
{
        height: 60%;
        color: #a3a3a3;
        opacity: 1;
}

.v-gantt-diagram-task-border
{
        color: black;
        width: 0px;
        opacity: 0;
}

.v-gantt-diagram-task-complete
{
        height: 40%;
        color: black;
        opacity: 0.5;
}

.v-gantt-diagram-task-complete-border
{
        color: black;
        width: 0px;
        opacity: 0;
}

.v-gantt-diagram-task-control-point
{
        width: 50%;
        color: #b3b3b3;
        opacity: 0.6;
}

.v-gantt-diagram-task-control-point-border
{
        color: black;
        width: 1px;
        opacity: 1;
}

.v-table-row-font-bold
{
        font-weight: bold;
}

.v-table-row-background-pink
{
        background-color: #ffc0cb;
}

.v-gantt-diagram-task-dependency-arrow
{
	width: 8px;
	height: 4px;
	color: gray;
	opacity: 1;
}

.v-gantt-diagram-task-dependency-arrow-border
{
	color: gray;
	width: 0px;
	opacity: 1;
}

.v-gantt-diagram-task-dependency
{
	color: gray;
	width: 1px;
	opacity: 1;
}